name: Docker production build

on:
  push:
    tags:
      - 'v**'
env:
  DOCKER_REGISTRY: gcr.io
  DOCKER_IMAGE_NAME: generative-365207/generative-moderator
  DOCKERFILE_NAME: Dockerfile

jobs:
  build-and-push-to-gcr:
#    runs-on: ubuntu-latest
    runs-on: self-hosted
    concurrency:
      group: '${{ github.workflow }} @ ${{ github.ref }}'
      cancel-in-progress: false
    steps:
      - uses: actions/checkout@v3
      - name: Get the tag name
        id: get_tag_name
        run: |
          echo "IMAGE_TAG=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV
          echo "BUILD_ENV=production" >> $GITHUB_ENV

      - name: Use ai-school.Dockerfile
        id: set_dockerfile_ai_school
        if: endsWith(github.ref, '_ai_school')
        run: |
          echo "DOCKERFILE_NAME=ai-school.Dockerfile" >> $GITHUB_ENV

      - name: Setup google auth
        id: "auth"
        uses: "google-github-actions/auth@v0"
        with:
          credentials_json: ${{ secrets.GCLOUD_SERVICE_ACCOUNT_JSON }}

      - name: Setup docker
        uses: docker/setup-buildx-action@v2

      - name: Authenticate docker
        run: |
          gcloud auth configure-docker --quiet gcr.io

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ${{env.DOCKERFILE_NAME}}
          push: true
          tags: |
            ${{env.DOCKER_REGISTRY}}/${{env.DOCKER_IMAGE_NAME}}:latest
            ${{env.DOCKER_REGISTRY}}/${{env.DOCKER_IMAGE_NAME}}:${{ env.IMAGE_TAG }}
#          cache-from: type=gha
#          cache-to: type=gha,mode=max
          build-args: ENV=${{ env.BUILD_ENV }}
